.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn{
  padding: 1rem 3rem;
  font-size: 2rem;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
}

.btn--primary{
  color: #fff;
  background-color: rgb(72, 96, 203);
  box-shadow: 3px 3px 5px 3px rgba(0,0,0,0.5);
  transition: 0.3s;
}

.btn--primary:hover{
  background-color: rgb(62, 84, 179);
  box-shadow: 1px 1px 2px 2px rgba(0,0,0,0.3);
  transition: 0.3s;
}

.account__input{
  padding: 0.7rem 1.5rem;
  border: none;
  border-radius: 5px;
  font-size: 1.5rem;
  min-width: 30rem;
  margin-bottom: 2rem;
}

.account__label{
  font-size: 1.5rem;
  margin-bottom: 5px;
}
