.btn{
  padding: 1rem 3rem;
  font-size: 2rem;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
}

.btn--primary{
  color: #fff;
  background-color: rgb(72, 96, 203);
  box-shadow: 3px 3px 5px 3px rgba(0,0,0,0.5);
  transition: 0.3s;
}

.btn--primary:hover{
  background-color: rgb(62, 84, 179);
  box-shadow: 1px 1px 2px 2px rgba(0,0,0,0.3);
  transition: 0.3s;
}
