<div class="container">
  <div class="header">
    <h1 class="heading">Todo's</h1>
  </div>
  @if(todo){
  <div class="todo-container todo-container__body">
    <div class="status-container">
      <input type="checkbox">
    </div>
    <div class="desc-container">
      <div class="text">
        <h2 class="text__body">{{todo.heading}}</h2>
        <p class="text__body">{{todo.description}}</p>
      </div>
      <div class="dates">
        <p class="dates__body">Created at: {{todo.createdAt | date }}</p>
        @if(todo.completedAt){
        <p class="dates__body">Completed at: {{todo.completedAt | date }}</p>
        }
      </div>
    </div>

  </div>

  }
</div>
