<div class="container">
  @if(todo()){
  <div class="todo-container todo-container__body">
    <div class="status-container">
      <label class="circle-checkbox">
        <input #checkbox type="checkbox" (click)="updateTodoStatus(checkbox.checked)" [checked]="todo()?.isCompleted">
        <i class="fa-solid fa-check"></i>
      </label>
    </div>
    <div class="desc-container">
      <div class="text">
        <h2 class="text__heading">{{todo()?.heading}}</h2>
        <p class="text__body">{{todo()?.description}}</p>
      </div>
      <div class="dates">
        <p class="dates__body">Created at: {{todo()?.createdAt | date }}</p>
        @if(todo()?.completedAt){
        <p class="dates__body">Completed at: {{todo()?.completedAt | date }}</p>
        }
      </div>
    </div>
  </div>
  }
</div>
