@if(todo){
  <div class="todo-container">
    <div class="desc-container">
      <h2>This is something to be done</h2>
      <p>I am giving here a description of that something that must be done within some time</p>
    </div>
    <div class="dates-container">
      <p>Created at: August 15, 2025</p>
      <p>Completed at: August 22, 2025</p>
    </div>
    <div class="status"></div>
  </div>
  <!-- <div class="todo-container">
    <div class="desc-container">
      <h2>{{todo.heading}}</h2>
      <p>{{todo.description}}</p>
    </div>
    <div class="dates-container">
      <p>Created at: {{todo.createdAt}}</p>
      <p>Completed at: {{todo.completedAt}}</p>
    </div>
    <div class="status"></div>
  </div> -->
}
