@import url('./app/core/styles/base.css');
@import url('./app/core/styles/sharedStyles.css');

/* * {
  box-sizing: border-box;
}

body, html{
  margin: 0;
  padding: 0;
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-size: 62.5%;
} */
