@if(accountService.currentUser()){
<div class="container">
  <div class="header">
    <h1 class="heading">Todo's</h1>
  </div>
  <button class="btn btn--primary" (click)="logout()">Logout</button>
  <div class="todo-container todo-container__body">
    <form ngForm #todoForm (ngSubmit)="onSubmit()">
      <input class="todo__input" name="title" [(ngModel)]="newTodoText" required placeholder="Enter todo title" />
      <button #submitBtn type="submit" style="display: none;"></button>
    </form>
    <div class="line"></div>
  </div>
  @if(todos.length > 0){
    @for (todo of todos; track todo.id) {
    <div class="todo-container todo-container__body">
      <app-todo-detail [todoInput]="todo"></app-todo-detail>
      <div class="line"></div>
    </div>
    }
  }
</div>
}


