/* .container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */

.heading{
  font-weight: 100;
  font-size: 6rem;
  color: #6f6f6f;
}

.todo-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  padding: 1rem 4rem;
  width: 70%;
}

.todo-container__body{
  background-color: #fff;
}

.todo__empty{
  height: 5rem;
}

.todo__input{
  border: none;
  font-size: 2rem;
  margin-top: 3rem;
}

.todo__input:focus{
  outline: none;
}

.line{
  width: 100%;
  height: 1.7px;
  background-color: rgba(66, 66, 66, 0.1);
}
